:root {
    --bg: #fefaef;
    --fg: #1b1a10;
    --bd: #e0e0e0;
    --ln: #ba3030;
    --hl: #3000ba;
    --cd: #00ba00;
}
@media (prefers-color-scheme: dark) {
    :root {
	--bg: #222222;
	--fg: #ffffff;
	--bd: #505050;
	--cd: #30ea30;
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: serif, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

#main {
    max-width: 800px;
    margin: auto;
}

a { color: var(--ln); }
a:hover { color: var(--hl); }
code { color: var(--cd); }
tr:nth-child(even) { background-color: var(--bd); }

.links a { font-size: 1.5em; padding: 10px; }

.pic {
    display: table;
    margin: auto;
    text-align: center;
    font-style: italic;
}
img, .pic img {
    border: 2px solid var(--bd);
    transition: transform .0s;
    width: 40%
}
.pic img:hover {
    transform:scale(1.5);
}

pre, th, td {
    padding: 5px;
    border: 1px solid var(--bd);
}
